// GENERAL BUTTON STYLINGS 

button {
    background-color: lighten($buttonColor, 10%);
    border: none;
    padding: 15px 20px;
    margin-top: 1rem;
        a{
            text-decoration: none;
            @include fontSize (1rem);
            font-weight: 700;
        }
}


button:hover,
button:focus{
    border: 5px solid $primaryColor;
}
