
.flexContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.homePage {
    background-color: $primaryColor;
}

.headerText{
    position: absolute;
    margin-bottom: 125px;
    width: auto;
}

.homePage h1{
    font-size: 125px;
    margin-left: 60px;
}

.headerImage {
    margin: 50px 0 -100px 0;
        img {
            box-shadow: 20px 20px #fff;
            width: calc(100% - 20px);
        }
}


.summary{
    background-color: $backgroundColor;
    padding: 150px 0 150px 0;
    font-family: $mainFont;
}

.about {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
    position: relative;
        div {
            position: relative;
                img {
                    width: 80%;
                    position: absolute;
                }
        }
}

.about h3{
    margin: 0;
}

.infoText01 {
    padding: 70px 0 30px 100px;
}

.infoImage01{
    order: -1;
    background-color: #a82706;
    box-shadow: 15px 0 #a82706;
    padding: 24%; 
    position: absolute;
    top: -15px;
    align-self: start;
        img {
            top: -30px;
            right: 0;
        }
}

.infoText02{
    text-align: right;
    padding: 0 85px 60px;
    margin-top: 20px;
        p {
            margin-right: 0;
        }
}

.infoImage02{
    background-color: $primaryColor;
    padding: 25%;
    position: absolute;
    align-self: start;
    top: 35px;
    right: 0px;
    align-self: start;
        img {
            bottom: 15px;
            left: -15px;
        }
}


.links{
    background-color: $backgroundColor;
    padding: 100px 0;
        .directory {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
            grid-template-rows: 50% 50%;
            gap: 20px 70px;
            width: 70%;
                & a{
                    position: relative;
                        & i{
                            position: absolute;
                            top: 45px;
                            right: 30px;
                            padding: 10px;
                            color: $fontColor;
                            background-color: $primaryColor;
                            border-radius: 50%;
                        }
                }
        }
}

.directory p{
    margin: 0;
}

.journey{
    background-color: $backgroundColor;
    padding: 70px 0;
        & .wrapper{
            display: grid;
            grid-template-columns: 1fr 3fr;
            gap: 50px;
                & img {
                    box-shadow: 20px 20px $primaryColor;
                }
        }
}

.journeyImage{
    width: 100%;
}

.journeyText {
    padding-left: 80px;
        p{
            margin: auto 0;
            padding: 20px 0;
        }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    gap: 40px;
    padding: 70px 0;
}