// NAVIGATION STYLINGS START HERE! 

.topNav ul {
    background-color: $primaryColor;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
        li{
            list-style: none;
            padding: 30px 20px;
                a{
                    color: $fontColor;
                    text-decoration: none;
                    font-family: $mainFont;
                    letter-spacing: 1px;
                        &:hover,
                        &:focus-within{
                            color: $backgroundColor;
                        }
                }
        }
}        
.topNav li:nth-child(3){
    padding: 0;
        & p {
            margin: 0;
            padding: 20px 35px;
            font-size: 2rem;
            font-family: $h1Font;
            text-transform: uppercase;
        }
}

// FOR DROP DOWN MOBILE MENU

nav.mobileMenu{
    position: relative;
}
.fa-bars {
    visibility: hidden;
    position: absolute;
    top: 20px;
    left: 50px;
    font-size: 2rem;
    z-index: 10;
}
ul.mobileMenu {
    visibility: hidden;
    margin: 0;
    padding: 0;
    left: 0;
    background-color: $backgroundColor;
    border: 5px solid #05afc1;
        li{
            list-style: none;
            padding: 10px;
                a{
                    color: $fontColor;
                    border-bottom: 1px dashed $primaryColor;
                }
        }
}