// FONT STYLINGS!!
@import 'colors';

html {
    font-size: 125%;
}

h1,
h2,
h3,
h4,
a {
    text-transform: uppercase;
}

$mainFont: 'Roboto', sans-serif;
$h1Font: 'Lora', serif; 

@mixin fontSize($sizeValue) {
    font-size: $sizeValue;
    color: $fontColor;
}

h2{
    margin: 0;
    @include fontSize(2.1rem);
    font-family: $mainFont;
}

h3{
    @include fontSize(1.6rem);
    font-family: $mainFont;
}

p{
    margin-right: 20%;
    line-height: 1.5rem;
    font-weight: 300;
    font-family: $mainFont;
}