html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

h1,
h2,
h3,
h4,
a {
  text-transform: uppercase;
}

h2 {
  margin: 0;
  font-size: 2.1rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: 1.6rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
}

p {
  margin-right: 20%;
  line-height: 1.5rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.topNav ul {
  background-color: #f6a823;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.topNav ul li {
  list-style: none;
  padding: 30px 20px;
}
.topNav ul li a {
  color: #2c2c2c;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
.topNav ul li a:hover, .topNav ul li a:focus-within {
  color: #f0efed;
}

.topNav li:nth-child(3) {
  padding: 0;
}
.topNav li:nth-child(3) p {
  margin: 0;
  padding: 20px 35px;
  font-size: 2rem;
  font-family: "Lora", serif;
  text-transform: uppercase;
}

nav.mobileMenu {
  position: relative;
}

.fa-bars {
  visibility: hidden;
  position: absolute;
  top: 20px;
  left: 50px;
  font-size: 2rem;
  z-index: 10;
}

ul.mobileMenu {
  visibility: hidden;
  margin: 0;
  padding: 0;
  left: 0;
  background-color: #f0efed;
  border: 5px solid #05afc1;
}
ul.mobileMenu li {
  list-style: none;
  padding: 10px;
}
ul.mobileMenu li a {
  color: #2c2c2c;
  border-bottom: 1px dashed #f6a823;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.homePage {
  background-color: #f6a823;
}

.headerText {
  position: absolute;
  margin-top: -125px;
  width: auto;
}

.homePage h1 {
  font-size: 125px;
  margin-left: 60px;
}

.headerImage {
  margin: 50px 0 -100px 0;
}
.headerImage img {
  -webkit-box-shadow: 20px 20px #fff;
          box-shadow: 20px 20px #fff;
  width: calc(100% - 20px);
}

.summary {
  background-color: #f0efed;
  padding: 150px 0 150px 0;
  font-family: "Roboto", sans-serif;
}

.about {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
  position: relative;
}
.about img {
  width: 80%;
  position: absolute;
}

.about h3 {
  margin: 0;
}

.infoText01 {
  padding: 70px 0 30px 100px;
}

.infoImage01 {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  background-color: #a82706;
  -webkit-box-shadow: 15px 0 #a82706;
          box-shadow: 15px 0 #a82706;
  padding: 24%;
  position: relative;
  top: -15px;
  -ms-flex-item-align: start;
      align-self: start;
}
.infoImage01 img {
  position: absolute;
  top: -30px;
  right: 0;
}

.infoText02 {
  text-align: right;
  padding: 0 100px 60px;
  margin-top: 20px;
}
.infoText02 p {
  margin-right: 0;
}

.infoImage02 {
  background-color: #f6a823;
  padding: 25%;
  position: relative;
  -ms-flex-item-align: start;
      align-self: start;
  top: 35px;
  right: 0px;
  align-self: start;
}
.infoImage02 img {
  position: absolute;
  bottom: 15px;
  left: -15px;
}

.links {
  background-color: #f0efed;
  padding: 100px 0;
}
.links .directory {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
  gap: 20px 70px;
  width: 70%;
}
.links .directory a {
  position: relative;
}
.links .directory a i {
  position: absolute;
  top: 45px;
  right: 30px;
  padding: 10px;
  color: #2c2c2c;
  background-color: #f6a823;
  border-radius: 50%;
}

.directory p {
  margin: 0;
}

.journey {
  background-color: #f0efed;
  padding: 70px 0;
}
.journey .wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 50px;
}
.journey .wrapper img {
  -webkit-box-shadow: 20px 20px #f6a823;
          box-shadow: 20px 20px #f6a823;
}

.journeyImage {
  width: 100%;
}

.journeyText {
  padding-left: 80px;
}
.journeyText p {
  margin: auto 0;
  padding: 20px 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  gap: 40px;
  padding: 70px 0;
}

.contactHeader {
  background-image: url(./../assets/contact-image-1.jpg);
  height: 400px;
  width: 100%;
  background-size: cover;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.contactHeader h1 {
  padding-top: 330px;
}

.contact {
  background-color: #f0efed;
  display: grid;
  grid-template-columns: 400px 2fr;
  grid-template-rows: 1fr;
  padding: 100px;
}

.contactInfo {
  background-color: white;
  height: 270px;
}
.contactInfo .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 40px 70px 20px 0;
  margin: 0;
}
.contactInfo .socials li {
  list-style: none;
}
.contactInfo .socials li a {
  color: #f6a823;
  font-size: 1.2rem;
}

.mailingInfo a {
  text-transform: lowercase;
  color: #000;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.mailingInfo a ~ .address {
  padding-top: 20px;
}
.mailingInfo a ~ .address p {
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.3rem;
}

form {
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
form input {
  border: none;
  padding-left: 20px;
}
form textarea,
form button {
  border: none;
  grid-column: 1/-1;
}

textarea {
  padding: 40px 0 0 20px;
  resize: none;
}

button {
  margin: 0;
}
button a {
  letter-spacing: 1px;
  font-weight: 400;
}

::-webkit-input-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}

::-ms-input-placeholder {
  font-style: italic;
}

::placeholder {
  font-style: italic;
}

.blogHeader {
  background-image: url(./../assets/blog-image-1.jpg);
  height: 315px;
  background-size: cover;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.blogHeader h1 {
  padding-top: 260px;
}

.blog {
  background-color: #f0efed;
  padding: 100px 0;
}
.blog .gridContainer {
  display: grid;
  grid-template-columns: minmax(30%, 1fr) 2fr;
  gap: 20px 40px;
}
.blog .gridContainer h4 {
  font-weight: 400;
  letter-spacing: 1px;
}

.blogAbout,
.posts {
  background-color: white;
  margin: 10px;
  font-family: "Roboto", sans-serif;
}
.blogAbout p,
.blogAbout a,
.posts p,
.posts a {
  text-transform: none;
}

.blogAbout {
  padding-top: 45px;
  margin: 0;
}
.blogAbout h4 {
  padding: 20px 0;
}
.blogAbout h4 + p {
  padding-bottom: 30px;
}
.blogAbout h4 + p a {
  font-family: "Lora", serif;
  color: #285e64;
}

.posts {
  margin: 20px 0;
  padding: 15px 0;
}
.posts ul {
  padding: 0 20px;
}
.posts ul li {
  list-style: disc;
  color: #f6a823;
}
.posts ul li a {
  color: #000;
  line-height: 1.5rem;
  font-weight: 300;
  padding-left: 5px;
}

.blogPosts {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 0.1fr 0.1fr;
  grid-auto-rows: auto;
  gap: 20px;
}

.blogPosts article,
.blogPosts .comment {
  background-color: white;
  padding: 45px;
}
.blogPosts article p,
.blogPosts .comment p {
  margin: 0;
  padding-bottom: 20px;
}

.blogPosts article,
.blogPosts .comment:last-of-type {
  margin-bottom: 20px;
  border-bottom: 5px solid #f6a823;
}

article h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  text-transform: none;
  color: #285e64;
  font-weight: 400;
}

.blogPosts .comment {
  border-bottom: none;
}

.comment {
  display: grid;
  grid-template-columns: 0.3fr 2fr;
}
.comment .commentText {
  padding-left: 20px;
  padding-top: 5px;
}
.comment .commentText h5 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #285e64;
  font-style: italic;
  font-weight: 400;
  padding-bottom: 10px;
}

.blog button {
  margin: 0;
}

button {
  background-color: #06dcf3;
  border: none;
  padding: 15px 20px;
  margin-top: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  color: #2c2c2c;
  font-weight: 700;
}

button:hover,
button:focus {
  border: 5px solid #f6a823;
}

footer {
  background-color: #2c2c2c;
}
footer p {
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 10px 0;
}

img {
  width: 100%;
  display: block;
}

.wrapper {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
}

header {
  font-family: "Lora", serif;
}
header h1 {
  font-size: 5rem;
  color: #2c2c2c;
  margin: 0;
}

a {
  text-decoration: none;
}

@media (max-width: 980px) {
  .fa-bars {
    visibility: visible;
  }

  .topNav ul li {
    visibility: hidden;
    padding: 0;
    font-size: 0.2rem;
  }

  .fa-bars:hover ul.mobileMenu,
.fa-bars:focus-within ul.mobileMenu {
    visibility: visible;
  }

  header h1 {
    font-size: 3rem;
  }

  .homePage h1 {
    font-size: 4rem;
    margin-top: 50px;
  }

  .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flexContainer .headerText {
    top: 0;
    left: 10%;
    margin: 0;
  }
  .flexContainer .headerImage {
    margin: 0;
  }

  .journey .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .journey .wrapper .journeyImage {
    width: 50%;
  }

  .contact {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .contactHeader,
.blogHeader {
    height: 15vh;
  }
  .contactHeader h1,
.blogHeader h1 {
    padding: 0;
  }

  .blog .gridContainer {
    grid-template-columns: 1fr;
  }

  .aside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    gap: 20px;
  }

  .blogAbout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }

  .aboutSophie {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 665px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about div {
    width: calc(50% - 20px);
    padding: 10px;
    margin: 10px;
    top: 0;
    -ms-flex-item-align: center;
        align-self: center;
  }

  .infoText01,
.infoText02 {
    text-align: left;
    padding: 20px 280px 20px 20px;
  }

  .about div img {
    position: relative;
    top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 50px 0;
  }
}
@media (max-width: 590px) {
  .wrapper {
    width: 90%;
  }

  .topNav ul {
    padding: 0;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.8rem;
  }

  .flexContainer .headerText {
    left: 0;
  }

  .links .directory {
    width: 55%;
  }
  .links .directory p {
    padding-right: 100px;
  }

  .links .directory div {
    width: 80%;
  }
  .links .directory div p {
    padding: 0;
  }

  .journeyText {
    padding: 0;
  }

  .contactInfo {
    width: 100%;
  }

  form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  form input {
    padding: 20px;
  }
}
@media (max-width: 380px) {
  .homePage h1 {
    font-size: 2.9rem;
  }

  .flexContainer .headerText {
    top: -10px;
  }

  .links .directory {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .links .directory .links .directory p {
    font-size: 0.6rem;
  }
}